{
  "name": "@perryts/perry-win32-x64",
  "version": "__VERSION__",
  "description": "Perry native TypeScript compiler — Windows x64 binary + static libraries.",
  "os": ["win32"],
  "cpu": ["x64"],
  "files": [
    "bin/",
    "lib/",
    "README.md",
    "LICENSE"
  ],
  "license": "MIT",
  "repository": {
    "type": "git",
    "url": "git+https://github.com/PerryTS/perry.git"
  },
  "homepage": "https://github.com/PerryTS/perry#readme",
  "bugs": {
    "url": "https://github.com/PerryTS/perry/issues"
  },
  "publishConfig": {
    "access": "public"
  }
}
